.books {
  text-align: center;
  color: white;
  padding: 5rem;
}

.bookcover {
  max-width: 35%;
}

@media only screen and (max-width: 600px) {
  .bookcover {
    max-width: 90%;
  }
}

.bookreview {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 0%, 0.35);
}

/* changes made for client demonstration purposes; not permanent yet */

/* Book1 changes */
.books1{
  background-image: linear-gradient(to bottom, transparent, black 70%);
  text-align: center;
  color: white;
  padding: 5rem;
  border-bottom: 15px solid whitesmoke;
}

@media only screen and (max-width: 500px) {
  .books1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.book-content{
  display: flex;
  justify-content: space-evenly;
}

.book1p{
  width: fit-content;
  font-size: 200%;
  font-weight: bold;
  color: black;
  padding-top: 10%;
}

@media only screen and (max-width: 900px) {
  .book1p{
    font-size: 170%;
  }
}

@media only screen and (max-width: 770px) {
  .book1p{
    font-size: 120%;
  }
}

@media only screen and (max-width: 500px) {
  .book1p{
    font-size: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .book1p{
    margin-left: -1.5rem;
  }
}

.bookcover1{
  max-width: 65%;
  margin-right: -10.5rem;
}

@media only screen and (max-width: 900px) {
  .bookcover1{
    margin-right: -7.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .bookcover1{
    max-width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .bookcover1{
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .bookcover1{
    max-width: 110%;
  }
}

@media only screen and (max-width: 350px) {
  .bookcover1{
    margin-right: -5.5rem;
    margin-left: -4rem;
  }
}

.booktitle1{
  font-weight: bold;
  font-size: 2rem;
  margin-top: -5rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .booktitle1{
    margin-top: -4rem;
  }
}

@media only screen and (max-width: 700px) {
  .booktitle1{
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 500px) {
  .booktitle1{
    margin-top: 0;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .booktitle1{
    font-size: 1.2rem;
  }
}

.booktitle1 span{
  color: red;

}

.buybutton{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
  padding: 1.75rem;
  color: whitesmoke;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 1rem;
}

@media only screen and (max-width: 900px) {
  .buybutton{
    font-size: 125%;
    padding: 1.25rem;
  }
}

@media only screen and (max-width: 700px) {
  .buybutton{
    font-size: 100%;
  }
}

.boldme1{
  color: red;
  font-weight: bold;
}

.mist{
  bottom: -10%;
  left: 60% !important;
}

@media only screen and (max-width: 1000px) {
  .mist{
    left: 75% !important;
  }
}

@media only screen and (max-width: 800px) {
  .mist{
    left: 85% !important;
  }
}

@media only screen and (max-width: 700px) {
  .mist{
    left: 95% !important;
  }
}

@media only screen and (max-width: 600px) {
  .mist{
    left: 105% !important;
  }
}

@media only screen and (max-width: 500px) {
  .mist{
    left: 125% !important;
  }
}

@media only screen and (max-width: 450px) {
  .mist{
    left: 140% !important;
  }
}

@media only screen and (max-width: 400px) {
  .mist{
    left: 160% !important;
  }
}

@media only screen and (max-width: 350px) {
  .mist{
    left: 190% !important;
  }
}

@media only screen and (max-width: 300px) {
  .mist{
    left: 215% !important;
  }
}

/* Book 2 changes */
.booktext2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  border-bottom: solid 15px white;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.book2content{
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.on2p{
  color: whitesmoke;
}

@media only screen and (max-width: 400px) {
  .on2p{
    font-size: 90%;
  }
}

.on2cover{
  max-width: 60%;
  margin-right: -5.5rem;
}

@media only screen and (max-width: 900px) {
  .on2cover{
    margin-right: -7.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .on2cover{
    max-width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .on2cover{
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .on2cover{
    max-width: 110%;
  }
}

@media only screen and (max-width: 350px) {
  .bookcover1{
    margin-right: -5.5rem;
    margin-left: -4rem;
  }
}

.for2{
  margin-top: 0;
  text-align: center;
}

.bookreview2{
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 15%;
}

@media only screen and (max-width: 900px) {
  .bookreview2{
    padding-top: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .bookreview2{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .bookreview2{
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .bookreview2{
    padding-left: 10%;
    padding-bottom: 1.5rem;
  }
}

.books2{
  color: whitesmoke;
  background-image: linear-gradient(to bottom, transparent 90%, black);
  text-align: center;
}

.bookblurb2{
  text-align: center;
}

.bookblurb2 span{
  color: red;
}

.button2{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.buybutton2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
  padding: 1.75rem;
  color: whitesmoke;
  background-color: transparent;
  border: 4px solid red;
  border-radius: 1rem;
}

@media only screen and (max-width: 900px) {
  .buybutton2{
    font-size: 125%;
    padding: 1.25rem;
  }
}

@media only screen and (max-width: 700px) {
  .buybutton2{
    font-size: 100%;
  }
}