@font-face {
  font-family: "Glitch";
  src: url(../Fonts/Eordeoghlakat.otf);
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src: url(../Fonts/impact.ttf);
  font-display: swap;
}

.hero {
  text-align: center;
  font-size: 10.5vw;
  font-family: "Glitch", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  background-color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero span {
  color: red;
  font-family: "Impact";
  font-size: 9.7vw;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .hero span {
    letter-spacing: -0.2rem;
  }
}
