@font-face {
  font-family: "Glitch";
  src: url(../Fonts/Eordeoghlakat.otf);
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src: url(../Fonts/impact.ttf);
  font-display: swap;
}

.hero {
  text-align: center;
  font-size: 7.5vw;
  font-family: "Glitch", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  background-color: black;
  padding: 2rem;
}

.hero span {
  color: red;
  font-family: "Impact";
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: -.2rem;
}