.products{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: hsl(208, 93%, 94%);
}

.product-pic{
    max-width: 50%;
}

@media only screen and (min-width: 1000px) {
    .product-pic{
        max-width: 40%;
    }
}

.product-button{
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: .4rem;
    padding-left: .3rem;
    padding-right: .3rem;
    margin-top: auto;
    margin-bottom: auto;
}
