.spacer {
  text-align: center;
  font-size: 5.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 2rem;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}

.booktext {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}

.booktitle {
  text-align: center;
  padding: 1rem;
}

.booktitle span {
  color: red;
}

.bookblurb {
  padding: 2rem;
}

.bookblurb span {
  color: red;
}

.bookblurb span a {
  color: crimson;
}
